<html>
	<head>
	 <title>Test Page</title>
	</head>
	<body>
	 <h3> Hello Dylan the page must have loaded if you got this far</h3>
	 <p>
	 Time on loading was <%= @clock %>
	 </p>
	 <p>
	 <%= link_to "second", :action => "second" %>
	 </p>   
	</body>
</html>
