<html>
	<head>
	  <title>See this page</title>
	</head>
	<body>
	  <h1>bamn</h>
	  <p>
	    dude whats up with all the text
	  </p>
	  
	 <%= link_to "index", :action => "index" %>
	  </body>
</html>
